<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Crypto App</title>
        <link rel="stylesheet" type="text/css" href="../static/css/pager-style.css">
    </head>

    <body>
        <div class="title-wrapper container-col">
            <div class="title-bar">
                Enigma
            </div>
            <div class="subtitle-bar">
                an encryption method, used by German army in WW2
            </div>
        </div>
        
    </body>

</html>