<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Crypto App</title>
        <link rel="stylesheet" type="text/css" href="../static/css/pager-style.css">
        <script src="../static/js/script.js"></script>
    </head>

    <body>

        <div class="title-wrapper container-col">
            <div class="title-bar">
                Super-Encryption
            </div>
            <div class="subtitle-bar">
                an encryption method, combining a substitution cipher (standard Vigenere) and a transposition cipher.
            </div>
        </div>
        
    </body>

</html>